<div class="card">
    <div class="card-header">
        <h2>{{ name }}</h2>
        <p><i class="fas fa-mug-hot mr-2"></i>{{ role }}</p>
    </div>
    <div class="card-body">
        <h3>ID : <span>{{ id }}</span></h3>
        <h3>E-Mail</h3>
        <p><a class="engineer-email" href="mailto:{{ email }}">{{ email }}</a></p>
        <h3>Office Number</h3>
        <p><a href="https://github.com/{{ github }}" target="_blank" rel="noopener noreferrer">{{ officeNumber }}</a></p>
    </div>
  </div>